@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../styles/colors.scss';

body {
  background-color: $color5-dark-brown;
}

.page {
  background-color: $color2-orange;
  display: block;
  width: 90%;
  margin: auto;
  height: 80%;
  margin-top: 20px;
  border-radius: 20px;
}

.headingDisplay {
  background-color: $color4-medium-brown;
  color: $color6-ivory;
  border-radius: 20px;
  padding: 15px;
}

.cardDisplay {
  background-color: $color1-hunter-green;
  box-shadow: 3px 5px 5px $color2-orange;
}

