import buttonBackground from '../images-wookies/button_background.png';

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '../styles/colors.scss';

body {
  background-color: $color5-dark-brown;
}

.pageDisplay {
  background-color: $color2-orange;
  display: block;
  width: 90%;
  margin: auto;
  height: 80%;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
}

.headingDisplay {
  background-color: $color4-medium-brown;
  color: $color6-ivory;
  border-radius: 20px;
  padding: 15px;
}

.cardDisplay {
  background-color: $color1-hunter-green;
  box-shadow: 3px 5px 5px $color2-orange;
  border-radius: 20px;
  padding: 15px;
  width: 90%;
  margin: auto;
}

.crudButton {
  background-image: url('${buttonBackground}');
  background-repeat: no-repeat;
  background-position: -9px -7px;
  // padding-left: 41px;
  // background-size: 39px 43px;
  color: #000;
  border-radius: 20px;
  padding: 10px;
  height: 50px;
  width: 200px;
  margin: 10px;
}

